@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.animate-fade-in-delay {
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.3s;
}

.animate-slide-in {
  animation: slide-in 1s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animations.css */
.fade-in {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scale-up {
  transform: scale(0.9);
  transition: transform 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.scale-up.show {
  transform: scale(1);
}

/*  */

@layer utilities {
  .animate-item {
    opacity: 0;
    transform: translateY(100px); /* Start 20px below */
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }

  .animate-item.show {
    opacity: 1;
    transform: translateY(0); /* Slide to original position */
  }
}

/* 
 ------------------*/

@layer utilities {
  /* Animation for items coming from the left */
  .animate-item-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .animate-item-left.show {
    opacity: 1;
    transform: translateX(0);
  }

  /* Animation for items coming from the right */
  .animate-item-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .animate-item-right.show {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ----------------- */

/* styles.css */
/* Import Tailwind */

/* styles.css */

/* Active state styling */
.nav-link.active {
  color: #b48d00;
  /* background-color: rgb(239, 239, 239); */
  padding: 2px 4px;
}

.dropdown {
  position: relative;
  width: 40px;
}

.dropdown-toggle {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  z-index: 1000;
}

.dropdown-menu.show {
  max-height: 200px; /* Adjust height as needed */
}

.dropdown-menu li {
  list-style: none;
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* mobilew nav */

/* Initial styles for mobile menu */
.mobile-menu {
  /* Set the transition duration */
  /* transition: transform ; */
  transition: all 0.3s ease-in-out;
}

/* mobile */
/* .mobilemenu-active {
  height: 239px;
  padding: 20px;
}

@media only screen and (min-width: 700px) {
  .mobilemenu-active {
    height: 297px;
  }
} */

/* how its work */

.howitsworkSection {
  gap: 9%;
}
.AppDemoBox {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AppDemoBox img {
  position: absolute;
}
.adImg1 {
  z-index: 1;
}
.adImg2 {
  z-index: 2;
}
.adImg3 {
  z-index: 3;
}
@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 1000px) {
  .AppDemoBox {
    width: 33%;
  }
}

/* ///////GUPI//////// */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.image-content {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
/* Image hover effect */

.mission-item:hover .mission-title {
  color: goldenrod;
  transition: color 0.3s ease-in-out;
}

.mission-item:hover .mission-description {
  color: #080489;
  transition: color 0.3s ease-in-out;
}

.mission-item:hover {
  transform: translateY(5px);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-item {
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.stats-container {
  animation: slideUp 0.8s ease-out;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.stat-item:hover {
  transform: translateY(-5px);
}

.stat-item:hover h1 {
  color: goldenrod;
}

.stat-item:hover p {
  color: #0073e6;
}

/*  VIP car */

.tab-btn {
  transition: background-color 0.3s ease-in-out;
}

.box-shadow {
  box-shadow: 0 0 20px 1px rgba(114, 114, 114, 0.2);
}
